button .btn {

    padding-right: 100px;
    padding-left: 100px;

}

table {
    width: 100%;
   
    color: #000000;
    font-size: smaller;
  }

  th{
    width: 90px;
    border:1px solid black;
  }
  
  tr {
    height: 40px;
  }
  
  td {
    width: 90px;
    border:1px solid black;
  }