:root {
  --bg-dark: grey;

  --logo-height: 20%;
  --header-height: 20%;
  --aside-width: 45%;
  --footer-height: 10%;

  --shadow:
    0 2px 23px 0 rgba(0, 0, 0, 0.1), 
    0 2px 49px 0 rgba(0, 0, 0, 0.06);

}

* {
  box-sizing: border-box;
  
}